*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #5d4954;
	font-family:"Helvetica", sans-serif;
}
.logo{
	color: rgb(226,226,266);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.nav-links{
	display:flex;
	width:30%;
	justify-content: space-around;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	color: rgb(226,226,226);
	text-decoration: none;
	font-weight: bold;
}
.burguer div{
	width: 25px;
	height: 3px;
	background-color: rgb(226,226,226);
	margin: 5px;
	transition: all ease .5s;
}
.burguer{
	display:none;
}

@media screen and(max-width: 1024px){
	.nav-links{
		width:60%;
	}
}
@media screen and (max-width: 768px){
	body{overflow-x:hidden;}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top:8vh;
		display:flex;
		flex-direction: column;
		width:50%;
		align-items: center;
		background-color: #5d4954;
		transform: translateX(100%);
		transition: transform .6s ease-in;
	}
	.nav-links li{
		opacity:0;
	}
	.burguer{
		display:block;
		cursor:pointer;
	}
}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkLi{
	from{
		opacity: 0;
		transform: translateX(50%);
	}to{
		opacity: 1;
		transform: translateX(0%);
	}
}
/*animar o burguer*/
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

.slide{
	display: block;
	width:95%;
	margin: 20px auto;
	height: 100vh;
}
.company{
	width:100%;
	height: 400px;
	background: #383231;
	color:rgb(226,226,226);
	display: flex;
	flex-direction: column;
}
.company span, .company p{
	margin-left: 80px;
}
.company span{
	display: block;
	font-size: 1.8em;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	padding: 10px;
	margin-top:120px;
	position: relative;
	width:200px;
}
.company span::after{
	content: '';
	position: absolute;
	width:30%;
	height: 2px;
	background: #5d4954;
	left: 5%;
	bottom: -15%;
}
.company p{
	display: block;
	font-size: .9em;
	font-family: 'Helvetica', sans-serif;
	font-weight: normal;
	width:65%;
	margin-top:30px;
}

.products{
	width: 95%;
	margin: 20px auto;
}
.products .top-products{
	display: flex;
	justify-content: space-around;
}
.top-products h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28px;
	letter-spacing: -1px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}
.top-products h4::after{
	content: '';
	position: absolute;
	width:50px;
	height: 1.7px;
	background: #000;
	left: 0;
	bottom:-10px;
}
.top-products span{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: .85em;
	text-transform: uppercase;
	color:#a39b98;
}
.products span{
	width:47%;
}
.portfolio{
	max-width: 95%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 50px auto;
}
.section-img{
	width:30%;
	
	height: 894px;
}
.section-img div{
	background: #000;
}
.section-img div{
	position: relative;
}
.section-img div h3{
	position: absolute;
	font-weight: 500;
	bottom: 10%;
	left: 15%;
	opacity: 0;
	color:#FFF;
	font-family: "Helvetica";
	transition: .8s all;
}
.section-img div:nth-child(1) img{
	width:100%;
}
.section-img div:nth-child(2) img{
	display: block;
	margin-top: 35px;
	width:100%;
}
.section-img .bigger{
	display: block;
	height: 300px;
}
.section-img .bigger2{
	display: block;
	height: 400px;
}
.section-img div a{
	transition: .8s all;
}
.section-img div:hover h3::after{
	content: '';
	position: absolute;
	left: 3%;
	top:-20%;
	width:65%;
	height: 2px;
	background: #fff;
}
.section-img div:hover h3{
	opacity: 1;
}
.section-img div a:hover{
	opacity: .25;
}
.parallax{
	background: url('../img/capa1.jpg');
	width:95%;
	margin:20px auto;
	height: 950px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.lojas{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 450px;
	max-width: 95%;
	margin-top:20px;
}
.loja{ width:350px;}
.loja img{
	width:100%;
	height: 300px;
}
.loja div{
	margin-top: 30px;
}
.loja div h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
	position: relative;
	margin-bottom: 20px;
}
.loja div h3::after{
	content: '';
	position: absolute;
	width:30px;
	height: 2px;
	background: #5d4954;
	left: 0;
	bottom: -10%;
}
.loja div span{
	color:#a39b98;
	font-family: 'Roboto Condensed', sans-serif;
}
#secao{
	z-index:10;
	box-sizing: border-box;
	margin-bottom:400px;
	background: #fff;
}
.fixed-footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:400px;
	display: flex;
	justify-content:center;
	align-items: center;
	background: #262626;
	z-index:1;
}
.btn{
	position: fixed;
	bottom:10px;
	display: none;
	right: 2%;
	height: 30px;
	width:30px;
	border:none;
	border-radius:50%;
	transform: rotate(-90deg);
	cursor: pointer;
	background: #262626;
	color:#fff;
}
@media screen and (max-width:768px){
	.company span{
		margin:10px;
	}
	.company p{
		width:95%;
		margin: 20px;
	}
	.portfolio{
		display: block;
		height: auto;
	}
	.section-img{
		width:100%;
		height: auto;
	}
	.section-img > div{
		width: 100%;
	}
	.one{
		width:100%;
		height: auto;
	}
	.parallax{
		height: 550px;
	}
}
